@font-face {
    font-family: 'anime_font';
    font-style: normal;
    font-weight: 400;
    src: url(anime_font.ttf);
}
@font-face {
    font-family: 'naruto';
    font-style: normal;
    font-weight: 400;
    src: url(naruto.ttf);
}
.aboba {
  color: orange;
  font-size: 30px;
  font-family: anime_font;
  bottom: -89px;
position:relative;
}
.aboba2 {
  color: rgb(255, 255, 255) !important;
  font-size: 25px;
  font-family: naruto;
  background: rgba(58, 58, 58, 0.8);
bottom: -100px;
position:relative;
}
  body {
   background-image: url(pupa.jpg);
   background-color: #c7c49b; 
  }
a {
  text-decoration: none;
  color: rgb(255, 217, 0);
}
.aboba3 {
  color: pink;
}
.aboba4 {
  color: rgb(39, 204, 88);
}